# Week 8: Analyzing Gender Signals in the NYT Best Seller List

Today we will focus on aggregating data using `.groupby()` and `.sum()`

Along the way, we will need a few other Pandas methods to help organize the data.

## Gender Signal
We will use the Gender By Name dataset to automate assigning a gender to names in our NYT Best Seller Data
We use the first word in the `author` column to approximate a `gender_signal` which can take one of five values:
- `F` **Female**: first names given to children of female sex in the Gender By Name dataset 90% or more of the time
- `M` **Male**: first names given to children of male sex in the Gender By Name dataset 90% or more of the time
- `A` **Ambiguous**: first names that do not meet either of the 90% thresholds listed above
- `U` **Unknown**: first names that do not appear in the Gender By Name dataset
- `I` **Initials**: authors whose gender is masked by names given only as initials

In [1]:
import pandas as pd

nytg_df = pd.read_csv('nyt_full_gender_signal.tsv', sep="\t")
nytg_df

,year,week,rank,title_id,title,author,first_name,gender_signal
0,1931,1931-10-12,1,6477,The Ten Commandments,Warwick Deeping,Warwick,M
1,1931,1931-10-12,2,1808,Finche'S Fortune,Mazo de la Roche,Mazo,U
2,1931,1931-10-12,3,5304,The Good Earth,Pearl S. Buck,Pearl,F
3,1931,1931-10-12,4,4038,Shadows On The Rock,Willa Cather,Willa,F
4,1931,1931-10-12,5,3946,Scarmouche The King Maker,Rafael Sabatini,Rafael,M
...,...,...,...,...,...,...,...,...
60381,2020,2020-12-06,11,2332,I Would Leave Me If I Could,Halsey,Halsey,A
60382,2020,2020-12-06,12,6601,The Vanishing Half,Brit Bennett,Brit,A
60383,2020,2020-12-06,13,7239,Where The Crawdads Sing,Delia Owens,Delia,F
60384,2020,2020-12-06,14,482,Anxious People,Fredrik Backman,Fredrik,M
60385,2020,2020-12-06,15,2902,Marauder,Clive Cussler and Boyd Morrison,Clive,M

Now, using a technique introduced last class, let's get the value counts for each of these categories in the `gender_signal` column.

In [2]:
nytg_df['gender_signal'].value_counts()

gender_signal
M    35656
F    18134
A     3109
I     2461
U     1026
Name: count, dtype: int64

Again, using a technique introduced last class, let's produce a pie chart that demonstrates the relative proprtion of each gender signal category in the dataset.

In [ ]:
plot = nytg_df['gender_signal'].value_counts().plot(kind="pie", figsize=(6, 6))
print(plot)

Let's look at some of this data.  What names fall into the Ambiguous category.

We use a filter (boolean Series) to extract the rows where `gender_signal` is `"A"`

In [3]:
gender_filter = nytg_df['gender_signal']=='A'
type(gender_filter)

pandas.core.series.Series

In [4]:
nytg_df[gender_filter]

,year,week,rank,title_id,title,author,first_name,gender_signal
8,1931,1931-11-16,4,859,Broome Stages,Clemence Dane,Clemence,A
18,1931,1931-12-14,3,2886,Malaysia,Henri Fauconnier,Henri,A
20,1931,1931-12-21,2,859,Broome Stages,Clemence Dane,Clemence,A
24,1931,1931-12-28,3,859,Broome Stages,Clemence Dane,Clemence,A
27,1932,1932-01-04,3,860,Broome Stages,Clemence Dane,Clemence,A
...,...,...,...,...,...,...,...,...
60360,2020,2020-11-29,5,6252,The Sentinel,Lee Child and Andrew Child,Lee,A
60366,2020,2020-11-29,11,6601,The Vanishing Half,Brit Bennett,Brit,A
60377,2020,2020-12-06,7,6252,The Sentinel,Lee Child and Andrew Child,Lee,A
60381,2020,2020-12-06,11,2332,I Would Leave Me If I Could,Halsey,Halsey,A
60382,2020,2020-12-06,12,6601,The Vanishing Half,Brit Bennett,Brit,A

Note that the above line of code is equivalent to the below (as discussed in last week's lecture notebook). We just think the above is a bit more legible.

In [ ]:
nytg_df[nytg_df['gender_signal']=='A']

Now let's select only the `"first_name"` column, and call the `.unique()` method to see all the unique names that our method has identified as `"A"`

In [ ]:
# get the data frame with only "A" gender_signals

# selet the first_names column

# call .unique() on the first names column to get a list of the unique names

array(['Clemence', 'Henri', 'Temple', 'Sinclair', 'Jules', 'Jolan',
       'Taylor', 'Lin', 'Jan', 'Bellamy', 'Pat', 'Odell', 'Merle',
       'Hollister', 'Mika', 'Aubrey', 'Tennessee', 'Lael', 'Mickey',
       'Storm', 'Oakley', 'Sloan', 'Santha', 'Honor', 'Han', 'Robin',
       'Noel', 'Alexis', 'Yael', 'Jere', 'Gwyn', 'Terry', 'Elia', 'Jerzy',
       'Sidney', 'Leslie', 'Dee', 'Avery', 'Kit', 'Jackie', 'Marion',
       'Milan', 'Chris', 'Beryl', 'Carmen', 'Marlo', 'Jewel', 'Bailey',
       'Jamie', 'Tracy', 'Nevada', 'Ridley', 'Michel', 'Lee', 'Edwidge',
       'Kim', 'Kelley', 'Kendall', 'Dana', 'Jen', 'Amor', 'Jojo', 'Edan',
       'Brit', 'Greer', 'Tayari', 'Riley', 'Ocean', 'Chandler', 'Leigh',
       'Halsey'], dtype=object)

And now let's repeat that for the `"U"`, `"I"` â€” and much larger `"F"` and `"M"` â€” categories. How well is our gender system doing? What are its blind spots? How could it be improved?

In [ ]:
gender_filter = nytg_df['gender_signal']=='I'
sorted(nytg_df[gender_filter]['first_name'].unique())

In [ ]:
gender_filter = nytg_df['gender_signal']=='U'
nytg_df[gender_filter]['first_name'].unique()

In [ ]:
gender_filter = nytg_df['gender_signal']=='F'
nytg_df[gender_filter]['first_name'].unique()

In [ ]:
nytg_df[nytg_df['first_name'] == 'Ngaio']

In [ ]:
gender_filter = nytg_df['gender_signal']=='M'
nytg_df[gender_filter]['first_name'].unique()

In [ ]:
nytg_df[nytg_df['first_name'] == 'Dr.']

# Getting the Gender Signal Data into a Useful Form

Let's suppose we've decided our gender signal information is sufficient to proceed with our analysis. The immediate challenge, then, is to get the data into a useful form.

We're interested in knowing how many authors of each gender signal category appears for every year of the dataset.

What data type do want to get our data into? What colums and rows do we want to see, and how do we want them organized? What will the actual values look like?

## `.groupby()`

Let's start our journey with the `.groupby()` method, which allows us to group the data by particular columns and perform calculations on it. For instance, let's try grouping out `nytg_df` DataFrame by the `gender_signal` column.

In [ ]:
nytg_df.groupby("gender_signal")

The above command produces a "GroupBy" object.

In [ ]:
type(nytg_df.groupby("gender_signal"))

We can perform a few methods on these GroupBy objects. Let's start with `.count()`

In [ ]:
nytg_df.groupby("gender_signal").count()

As you can see, this rearranges our DataFrame so that each possible category in the `"gender_signal"` column now appears as a row, with all the other columns *except* `gender_signal` now appearing along the top. Within the DataFrame, we get counts of many rows containing those particular values for `gender_signal` also have values (of whatever) kind for the other columns â€” which is not particularly useful information for us, alas, since all the numbers are the same along each row.

We can use the `.size()` method to simplify the output of `.count()`: this gives us the maximum value along that row (which, in this case, is identical for all our columns, because our dataset doesn't have any missing values).

In [ ]:
nytg_df.groupby("gender_signal").size()

If we use `.count()` on the `"year"` column, what do we get?

In [ ]:
nytg_df.groupby("year").count()

In [ ]:
nytg_df.groupby(["year", "gender_signal"]).count()

We're getting closer! Let's again use `.size()` to simplify this and output it as a Series rather than a DataFrame

In [ ]:
nytg_df.groupby(['year', 'gender_signal']).size()

The only issue here is that the gender signal categories are "embedded within" each year â€” when what we need is just a DataFrame where the years are rows and the columns are the gender categories. 

In Pandas-speak, the gender signal values are "stacked" within the year â€” and we need to `.unstack()` them!

In [ ]:
nytg_df.groupby(['year', 'gender_signal']).size().unstack()

This is *almost* excactly what we need. There is only one problem now: not all years have values for all categories, which will confuse our efforts to work with the data in the next stages. For instance, 2016 has `NaN` for `U` â€” "Not a Number," indicating missing data. 

Thankfully our friend `.unstack()` will take an argument that tells it what to do with any `NaN` situations. In this case, we want it to replace all those with `0`.

In [ ]:
nytg_df.groupby(['year', 'gender_signal']).size().unstack(fill_value=0)

Hooray! That's what we need! Let's stick it in a variable.

This is one of those patterns that you want to store away for later use.

In [ ]:
year_counts = nytg_df.groupby(['year', 'gender_signal']).size().unstack(fill_value=0)

In [ ]:
year_counts

# Calculate Proportion of Each Category for Each Year

Well, it's *almost* everything. The thing we want to calculate in the next step is the **proportion** (or "percentages") of each gender signal category for each year. We don't want to rely on **absolute counts** (just the bare numbers in the columns) because *there are different numbers of entries for each year*, due to the always-changing number of entries on the list, the shift from monthly to weekly lists, etc. 

To calculate **proportions**, we will divide the count for each category by the total number of values for that year. So first let's calculate the total number of entries we have for each year.

You can think of this as a *sum* of all values across an individual row in our `year_counts` DataFrame. 

## `.sum()`


And indeed, the Pandas method we need to calculate the sum of the values in a row is... `.sum()`!

By default, it gives you the sum of *columns* (a "vertical" sum).

In [ ]:
year_counts.sum()

We can specify that we want the sum of the values in a *row* (a "horizontal" sum) by setting the `axis` to `1`.

(Yes, this is a weird detail, but it comes from the fact that these operations have a default direction, and the default for sum is to sum up a column, so we need away to tell it to use a different direction.  The designers chose the word axis to label the change in direction.)

In [ ]:
year_counts.sum(axis=1)

## Adding a Column to a DataFrame and Filling It with Values

Let's add a new column to our `year_counts` DataFrame that contains these sums. 

The syntax below does the job:
- `year_counts['total']` creates a new column and calls it `"total"`
- `year_counts.sum(axis=1)` stuffs that new column with the values created above

In [ ]:
year_counts['total'] = year_counts.sum(axis=1)

In [ ]:
year_counts

## Calculating Proportions and Adding Them to a New Row

Now let's calculate the proportions we discussed above. 

Once again, we'll create a new column and stuff it full of new values. Here we will calculate the percentage of `F` labels in every year: number of `F` counts divided by the total number of counts that year, multiplied by 100. Pandas knows we want to perform this calculation for every single row.

In [ ]:
year_counts['prop-F'] = (year_counts['F']/year_counts['total']) * 100

In [ ]:
year_counts

Guess what â€” by plotting the values of our new column `prop-F` (using techniques introduced in last week's class) we can now produce a very useful plot. Let's analyze it together!

In [ ]:
plot = year_counts['prop-F'].plot(kind='bar', title='Percentage of authors with female first-name gender signals in each year', figsize=(15,8))
print(plot)

Let's now create proportional columns for all the other gender signal categories.

In [ ]:
year_counts['prop-A'] = (year_counts['A']/year_counts['total']) * 100
year_counts['prop-M'] = (year_counts['M']/year_counts['total']) * 100
year_counts['prop-U'] = (year_counts['U']/year_counts['total']) * 100
year_counts['prop-I'] = (year_counts['I']/year_counts['total']) * 100

In [ ]:
plot = year_counts['prop-M'].plot(kind='bar', title='Percentage of authors with male first-name gender signals in each year', figsize=(15,8))
print(plot)

In [ ]:
plot = year_counts['prop-I'].plot(kind='bar', title='Percentage of authors with Initial names in each year', figsize=(15,8))
print(plot)

We can plot the values of multiple categories side-by-side. Let's compare the percentage of `M` and `F` categories for each year.

In [ ]:
plot = year_counts[['prop-F', 'prop-M']].plot(kind='bar', title='Percentage of authors with female vs. male first-name gender signals in each year', figsize=(20,8))
#print(year_counts.columns)

Here's some code that visualizes this same data as pretty line plots.

In [ ]:
plot = year_counts[['prop-F', 'prop-M']].plot(figsize=(22,8), style='--', marker='x', title='Percentage of authors in NYT Hardcover Fiction Best Seller List \n with female vs. male first-name gender signals')
plot.set_xticks(year_counts.index);
plot.set_xticklabels(year_counts.index, rotation=90)
print(plot)

# Digging into Our Data

Let's use some techniques we've already learned to investigate some potentially significant areas of our dataset that our analysis is revealing...

In [ ]:
year_counts['prop-F'].describe()

In [ ]:
nytg_df[(nytg_df['year']==1942)]['author'].value_counts()

In [ ]:
year_counts['prop-M'].describe()

In [ ]:
nytg_df[nytg_df['year']==1975]['author'].value_counts()